*{
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1F2937;
    align-items: center;
}
.logo{
    font-weight: 600;
    color: #f9faf8;
    font-size: 24px;
}
.links{
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-weight: 18px;
}

.main-one{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 50px 200px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header-one{
    width: 400px;
}
.top{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.para{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}
.sign-up-button-one{
    display: inline;
    background-color: #3883F6;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 600;
}
.image-one{
    width: 400px;
    height: 200px;
    background-color: rgba(79, 79, 79, 0.5);
    border-radius: 20px;
}

.main-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px 50px 200px;
}
.header-two{
    font-size: 36px;
    font-weight: bolder;
    padding-bottom:30px;
}
.image-content{
    display: flex;
    max-width: 850px;
}
.box{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-img{
    
    height: 150px;
    border-radius: 20px;
    border: 5px solid #3883F6;
}
.box-des{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.main-three{
    background-color: #E5E7EB;
    padding: 100px 200px 100px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.writer{
    text-align: end;
    font-size: 24px;
    font-weight: 900;
}

.main-four{
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f9faf8;
}

.box-four{
    width: 100%;
    background-color: #3883F6;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.des-four{
    font-size: 24px;
    text-align: start;
    width: 60%;
}

.head-four{
    font-weight: 800;
}

.des-four-para{
    padding-top: 10px;
}

.sign-up-button-four{
    font-size: 20px;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
}

footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 30px;
    padding: 30px;
}